@import "tailwindcss";


:root {
  --background: #F7F4EDff;
  --foreground: #fcf5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F4EDff;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-italianno, --font-roboto), Arial, Helvetica, sans-serif;

}
